
title{
    font-size= %300;
    font-family: "comic sans";
}

h1{
  color: blue;
  font-size: 200%;
}

p{
  font-family: "comic sans";
  text-identity: 20px;
  margin-left:   10px;
}

#intro{
  background-color: #CABE07;
  width: 900px;
  min-height: 300px;
  padding: 10px;
  margin: 30px;
  border: solid 3px #444444;
  font-size: 20px;
}

#labs{
  background-color: #097FDC;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 30px;
  border: solid 3px #444444;
  font-size: 20px;
}
